.section-5 {
    background: $color-main;
    background: linear-gradient(0deg, $color-main 0%, $color-main 83.84%, $color-white 83.84%, $color-white 100%);

    @media screen and (max-width:768px) {
        height:326.04vw
    }
}

.section-5__img--big {
    width:86.61vw;
    height:57.74vw;
    margin:0 auto;
    display:block;

    @media screen and (max-width:768px) {
        width:100vw;
        height:71.73vw;
        margin-bottom:25.73vw;
    }
}

.section-5__imgLeft {
    width:100%;
    margin-bottom:12.26vw;

    @media screen and (max-width:768px) {
        width:72vw;
        height:105.26vw;
        position:absolute;
        top:0;
        left:0
    }
}

.section-5__flex {
    display: flex;
    justify-content: center;

    @media screen and (max-width:768px) {
        display: flex;
        justify-content: center;
    }
}

.section-5__left {
    width:40.16%;

    @media screen and (max-width:768px) {
        width:32.94%;
        position:relative;
        z-index:3;
        padding-top:186.15vw
    }
}

.section-5__text {
    text-align: center;
    color:$color-yellow;
    font-weight:600;
    font-size: 3.5vw;
    line-height:1.33;
    margin-bottom:3.39vw;

    @media screen and (max-width:768px) {
        display:none
    }
}

.section-5__right {
    width:46.45%;
    position:relative;

    @media screen and (max-width:768px) {
        width:67.06%;
    }
}

.section-5__imgRight  {
    width:31.93vw;
    height:47.90vw;
    z-index: 2;
    display: block;
    position:absolute;
    top:3.71vw;
    left:10.81vw;

    @media screen and (max-width:768px) {
        width:49.9vw;
        height:75.44vw;
        z-index: 2;
        display: block;
        position:absolute;
        top:105.26vw;
        right:0;
        left: auto
    }
}

.section-5__blackTable {
    width:42.42vw;
    height:50.48vw;
    background-color: $color-black;
    margin:0 -6.8vw 0 auto;
    cursor: url(../images/kredka.png) 0 0, auto;

    @media screen and (max-width:768px) {
        display:none
    }
}

.section-5__canvas {
    width:100%;
    height:100%;
}

@media screen and (max-width:768px) {
    .button--section5 {
        width:57.12vw;
        height:10.14vw;
        margin:6.04vw 0 0 21.05vw;
        font-size: 3vw;
        line-height:3.5
    }
}