$color-main: #96bad8;
$color-yellow: #f3e261;
$color-text-blue: #283684;
$color-button: #252d33;
$color-white: #fff;
$color-dots: #ffe9a7;
$color-dots-active: #ffc313;
$color-range: #ffecb3;
$color-range-dot:#f4c021;
$color-black: #000;